Example Applications/Android/PS4_Tools_Android/Web References/WMSScanner/WMSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WMSServiceApplication.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMSServiceApplication.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://3deechelon/WMS/WMSService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.Syspro" />
  <xs:import schemaLocation="http://3deechelon/WMS/WMSService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" />
  <xs:import schemaLocation="http://3deechelon/WMS/WMSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://3deechelon/WMS/WMSService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" />
  <xs:import schemaLocation="http://3deechelon/WMS/WMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="VoidResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoidResult" nillable="true" type="tns:VoidResult" />
  <xs:complexType name="DataTableResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTableResult" nillable="true" type="tns:DataTableResult" />
  <xs:complexType name="StockWriteOff_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockWriteOff_Contract" nillable="true" type="tns:StockWriteOff_Contract" />
  <xs:complexType name="GetWriteoffReasons">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetWriteoffReasons" nillable="true" type="tns:GetWriteoffReasons" />
  <xs:complexType name="StringResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringResult" nillable="true" type="tns:StringResult" />
  <xs:complexType name="BoolResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultBool" type="xs:boolean" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoolResult" nillable="true" type="tns:BoolResult" />
  <xs:complexType name="InvInspectObjectsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.Syspro" minOccurs="0" name="ReturnItem" nillable="true" type="q1:ArrayOfInvInspectObjects" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvInspectObjectsResult" nillable="true" type="tns:InvInspectObjectsResult" />
  <xs:complexType name="GenericReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericReturn" nillable="true" type="tns:GenericReturn" />
  <xs:complexType name="SerialHead">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="archivefilename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datecreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="duedate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="expirydate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="loadflag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nextdetailline" type="xs:decimal" />
      <xs:element minOccurs="0" name="prvwarehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qtyavailable" type="xs:decimal" />
      <xs:element minOccurs="0" name="qtyintransitout" type="xs:decimal" />
      <xs:element minOccurs="0" name="qtyonhand" type="xs:decimal" />
      <xs:element minOccurs="0" name="qtyreceived" type="xs:decimal" />
      <xs:element minOccurs="0" name="release" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="scrapdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serialdescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serialmethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="servicedepotflag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceflag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerialHead" nillable="true" type="tns:SerialHead" />
  <xs:complexType name="SerialHeadList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialHeads" nillable="true" type="tns:ArrayOfSerialHead" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerialHeadList" nillable="true" type="tns:SerialHeadList" />
  <xs:complexType name="ArrayOfSerialHead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SerialHead" nillable="true" type="tns:SerialHead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSerialHead" nillable="true" type="tns:ArrayOfSerialHead" />
  <xs:complexType name="SerialTransactionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialTransList" nillable="true" type="tns:ArrayOfSerialTransaction" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerialTransactionList" nillable="true" type="tns:SerialTransactionList" />
  <xs:complexType name="ArrayOfSerialTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SerialTransaction" nillable="true" type="tns:SerialTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSerialTransaction" nillable="true" type="tns:ArrayOfSerialTransaction" />
  <xs:complexType name="SerialTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Custsupname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Custsupplier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detailtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entrydate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line" type="xs:decimal" />
      <xs:element minOccurs="0" name="Lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Newlocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purchaseorder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Release" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Revisionlevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Trffromwh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trnqty" type="xs:decimal" />
      <xs:element minOccurs="0" name="Trnvalue" type="xs:decimal" />
      <xs:element minOccurs="0" name="Trnwarehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerialTransaction" nillable="true" type="tns:SerialTransaction" />
  <xs:complexType name="POReceipt_Check_POWarehouseResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MultipleBins" type="xs:boolean" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POReceipt_Check_POWarehouseResult" nillable="true" type="tns:POReceipt_Check_POWarehouseResult" />
  <xs:complexType name="POReceipt_Check_PONumberResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POReceipt_Check_PONumberResult" nillable="true" type="tns:POReceipt_Check_PONumberResult" />
  <xs:complexType name="POReceipt_Check_PORecBinResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POReceipt_Check_PORecBinResult" nillable="true" type="tns:POReceipt_Check_PORecBinResult" />
  <xs:complexType name="POReceipt_Check_POStockBarcodeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutstandingBarcodeQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="OutstandingStockQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POReceipt_Check_POStockBarcodeResult" nillable="true" type="tns:POReceipt_Check_POStockBarcodeResult" />
  <xs:complexType name="POReceipt_Check_POQtyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutstandingBarcodeQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="OutstandingStockQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POReceipt_Check_POQtyResult" nillable="true" type="tns:POReceipt_Check_POQtyResult" />
  <xs:complexType name="POReceipt_Check_POSerialResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POReceipt_Check_POSerialResult" nillable="true" type="tns:POReceipt_Check_POSerialResult" />
  <xs:complexType name="POReceipt_Post_POReceiptResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POReceipt_Post_POReceiptResult" nillable="true" type="tns:POReceipt_Post_POReceiptResult" />
  <xs:complexType name="POFullReceipt_Check_POWarehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MultipleBins" type="xs:boolean" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POFullReceipt_Check_POWarehouse" nillable="true" type="tns:POFullReceipt_Check_POWarehouse" />
  <xs:complexType name="POFullReceipt_Check_PONumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POFullReceipt_Check_PONumber" nillable="true" type="tns:POFullReceipt_Check_PONumber" />
  <xs:complexType name="POFullReceipt_Check_POStockBarcode">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="OutstandingBarcodeQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="OutstandingStockQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POFullReceipt_Check_POStockBarcode" nillable="true" type="tns:POFullReceipt_Check_POStockBarcode" />
  <xs:complexType name="POFull_Post_StockItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnList" nillable="true" type="q2:ArrayOfPOReceiptEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POFull_Post_StockItem" nillable="true" type="tns:POFull_Post_StockItem" />
  <xs:complexType name="SupplyChain_Master_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="From_wh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idx" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="To_wh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplyChain_Master_Result" nillable="true" type="tns:SupplyChain_Master_Result" />
  <xs:complexType name="SupplyChain_Details_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="details" nillable="true" type="tns:ArrayOfSupplyChain_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplyChain_Details_Result" nillable="true" type="tns:SupplyChain_Details_Result" />
  <xs:complexType name="ArrayOfSupplyChain_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplyChain_Detail" nillable="true" type="tns:SupplyChain_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplyChain_Detail" nillable="true" type="tns:ArrayOfSupplyChain_Detail" />
  <xs:complexType name="SupplyChain_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="from_wh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idx" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="sctmasterref" type="xs:int" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplyChain_Detail" nillable="true" type="tns:SupplyChain_Detail" />
  <xs:complexType name="SCTReceipt_Check_SCTWarehouseResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MultipleBins" type="xs:boolean" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCTReceipt_Check_SCTWarehouseResult" nillable="true" type="tns:SCTReceipt_Check_SCTWarehouseResult" />
  <xs:complexType name="SCTReceipt_Check_SCTNumberResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCTNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCTReceipt_Check_SCTNumberResult" nillable="true" type="tns:SCTReceipt_Check_SCTNumberResult" />
  <xs:complexType name="SCTReceipt_Check_SCTRecBinResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCTReceipt_Check_SCTRecBinResult" nillable="true" type="tns:SCTReceipt_Check_SCTRecBinResult" />
  <xs:complexType name="SCTReceipt_Check_SCTStockBarcodeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutstandingBarcodeQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="OutstandingStockQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCTReceipt_Check_SCTStockBarcodeResult" nillable="true" type="tns:SCTReceipt_Check_SCTStockBarcodeResult" />
  <xs:complexType name="SCTReceipt_Check_SCTQtyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutstandingBarcodeQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="OutstandingStockQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCTReceipt_Check_SCTQtyResult" nillable="true" type="tns:SCTReceipt_Check_SCTQtyResult" />
  <xs:complexType name="SCTReceipt_Check_SCTSerialResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCTReceipt_Check_SCTSerialResult" nillable="true" type="tns:SCTReceipt_Check_SCTSerialResult" />
  <xs:complexType name="SCTReceipt_Post_SCTReceiptResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorEncountered" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCTReceipt_Post_SCTReceiptResult" nillable="true" type="tns:SCTReceipt_Post_SCTReceiptResult" />
  <xs:complexType name="BoxLabelResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PageResults" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="Printing_Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoxLabelResult" nillable="true" type="tns:BoxLabelResult" />
  <xs:complexType name="BoxListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ResultList" nillable="true" type="q4:ArrayOfBoxMaster" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoxListResult" nillable="true" type="tns:BoxListResult" />
  <xs:complexType name="JobBinResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxQuantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="MayOverride" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessfull" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobBinResult" nillable="true" type="tns:JobBinResult" />
  <xs:complexType name="WMSWipJobMasterResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.Syspro" minOccurs="0" name="ReturnItem" nillable="true" type="q5:WipMaster" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobMasterResult" nillable="true" type="tns:WMSWipJobMasterResult" />
  <xs:complexType name="JobPickItemResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesiredQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromBin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockingUom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessfull" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WmsWarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobPickItemResult" nillable="true" type="tns:JobPickItemResult" />
  <xs:complexType name="OperatorActionListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="OperatorActionList" nillable="true" type="q6:ArrayOfOperatorAction" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatorActionListResult" nillable="true" type="tns:OperatorActionListResult" />
  <xs:complexType name="ActionMasterResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionMasterResult" nillable="true" type="tns:ActionMasterResult" />
  <xs:complexType name="CheckSystemBinResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TypeOfBin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WmsWarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckSystemBinResult" nillable="true" type="tns:CheckSystemBinResult" />
  <xs:complexType name="AdhockBinCountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BinBarcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdhockBinCountResult" nillable="true" type="tns:AdhockBinCountResult" />
  <xs:complexType name="TieHighGetImageResult">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="BarcodePalletImageItem" nillable="true" type="q7:BarcodePalletImage" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TieHighGetImageResult" nillable="true" type="tns:TieHighGetImageResult" />
  <xs:complexType name="TieHighGetImageListResult">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ItemList" nillable="true" type="q8:ArrayOfBarcodePalletImage" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TieHighGetImageListResult" nillable="true" type="tns:TieHighGetImageListResult" />
  <xs:complexType name="BarcodeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Factor" type="xs:decimal" />
      <xs:element minOccurs="0" name="FactorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:decimal" />
      <xs:element minOccurs="0" name="Length" type="xs:decimal" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionSuccessful" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
      <xs:element minOccurs="0" name="Width" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BarcodeInfo" nillable="true" type="tns:BarcodeInfo" />
  <xs:complexType name="BinSOH">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BinSOH" nillable="true" type="tns:BinSOH" />
  <xs:complexType name="TripsDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="trips" nillable="true" type="q9:ArrayOfTripDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TripsDetails" nillable="true" type="tns:TripsDetails" />
  <xs:complexType name="POD_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q10:WMS_Andorid_POD" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POD_Result" nillable="true" type="tns:POD_Result" />
  <xs:complexType name="StageAllocationTest_ResultList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllocationList" nillable="true" type="tns:ArrayOfStageAllocationTest_Result" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Multiple_StageArea" type="xs:boolean" />
      <xs:element minOccurs="0" name="Multiple_Type" type="xs:boolean" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StageArea" nillable="true" type="q11:ArrayOfstring" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StageAreaType" nillable="true" type="q12:ArrayOfstring" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StageAreaTypeDescription" nillable="true" type="q13:ArrayOfstring" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StageAllocationTest_ResultList" nillable="true" type="tns:StageAllocationTest_ResultList" />
  <xs:complexType name="ArrayOfStageAllocationTest_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StageAllocationTest_Result" nillable="true" type="tns:StageAllocationTest_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStageAllocationTest_Result" nillable="true" type="tns:ArrayOfStageAllocationTest_Result" />
  <xs:complexType name="StageAllocationTest_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="salesOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salesOrderLine" type="xs:int" />
      <xs:element minOccurs="0" name="stageBin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stageTypeDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StageAllocationTest_Result" nillable="true" type="tns:StageAllocationTest_Result" />
  <xs:complexType name="TrolleyFull">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrolleyFull" nillable="true" type="tns:TrolleyFull" />
  <xs:complexType name="GetFinePickBins">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFinePickBins" nillable="true" type="tns:GetFinePickBins" />
  <xs:complexType name="CheckStageBins">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckStageBins" nillable="true" type="tns:CheckStageBins" />
  <xs:complexType name="GetFinePickStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFinePickStock" nillable="true" type="tns:GetFinePickStock" />
  <xs:complexType name="DoFinePick">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoFinePick" nillable="true" type="tns:DoFinePick" />
  <xs:complexType name="Basket_FinePick_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" minOccurs="0" name="ReturnItem" nillable="true" type="q14:BasketBasketFinePickResult" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Basket_FinePick_Result" nillable="true" type="tns:Basket_FinePick_Result" />
  <xs:complexType name="Putaway">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Putaway" nillable="true" type="tns:Putaway" />
  <xs:complexType name="ReturnBin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDateRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnBin" nillable="true" type="tns:ReturnBin" />
  <xs:complexType name="GetReturnQtyAllowedToMoveItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetReturnQtyAllowedToMoveItem" nillable="true" type="tns:GetReturnQtyAllowedToMoveItem" />
  <xs:complexType name="PutawayBin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MayOverride" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PutawayBin" nillable="true" type="tns:PutawayBin" />
  <xs:complexType name="Replenishment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altqty" type="xs:decimal" />
      <xs:element minOccurs="0" name="Altuom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Completeddate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromWh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Frombin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idx" type="xs:long" />
      <xs:element minOccurs="0" name="LotJob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operatorcompleted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="QtyTrans" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ruleno" type="xs:int" />
      <xs:element minOccurs="0" name="Saveddate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stkqty" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stkuom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tobin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalToBeTrans" type="xs:decimal" />
      <xs:element minOccurs="0" name="Towh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Replenishment" nillable="true" type="tns:Replenishment" />
  <xs:complexType name="BinToBin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BinToBin" nillable="true" type="tns:BinToBin" />
  <xs:complexType name="CheckFromBin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusInt" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckFromBin" nillable="true" type="tns:CheckFromBin" />
  <xs:complexType name="CheckToBin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusInt" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckToBin" nillable="true" type="tns:CheckToBin" />
  <xs:complexType name="CheckValidBins">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickFace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Row" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckValidBins" nillable="true" type="tns:CheckValidBins" />
  <xs:complexType name="WarehouseTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseTransfer" nillable="true" type="tns:WarehouseTransfer" />
  <xs:complexType name="StockCodeConversion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockCodeConversion" nillable="true" type="tns:StockCodeConversion" />
  <xs:complexType name="CheckOutGetStageAreas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageAreaDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StageAreas" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckOutGetStageAreas" nillable="true" type="tns:CheckOutGetStageAreas" />
  <xs:complexType name="Trips">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="trips" nillable="true" type="q15:ArrayOfTripMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trips" nillable="true" type="tns:Trips" />
  <xs:complexType name="ScannerCheckOutStationResult">
    <xs:sequence>
      <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Barcode" nillable="true" type="q16:ArrayOfstring" />
      <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Bin" nillable="true" type="q17:ArrayOfstring" />
      <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LabelPrinter" nillable="true" type="q18:ArrayOfstring" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Printer" nillable="true" type="q19:ArrayOfstring" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScannerCheckOutStationResult" nillable="true" type="tns:ScannerCheckOutStationResult" />
  <xs:complexType name="CheckOutAccepted">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckOutAccepted" nillable="true" type="tns:CheckOutAccepted" />
  <xs:complexType name="CheckOutCancelled">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckOutCancelled" nillable="true" type="tns:CheckOutCancelled" />
  <xs:complexType name="DoCheckOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Wave" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoCheckOut" nillable="true" type="tns:DoCheckOut" />
  <xs:complexType name="PalletInvoiceSo_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PalletInvoiceSo_Contract" nillable="true" type="tns:PalletInvoiceSo_Contract" />
  <xs:complexType name="StockTake_Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockTake_Contract" nillable="true" type="tns:StockTake_Contract" />
  <xs:complexType name="LotExpiry">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoundDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="LotExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LotExpiry" nillable="true" type="tns:LotExpiry" />
  <xs:complexType name="StockTakeExists">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exists" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantityLot" type="xs:decimal" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockTakeExists" nillable="true" type="tns:StockTakeExists" />
  <xs:complexType name="WMSStockTakeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q20:WMSStockTake" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSStockTakeResult" nillable="true" type="tns:WMSStockTakeResult" />
  <xs:complexType name="WMSStockTakeCountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q21:WMSStockTakeCount" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSStockTakeCountResult" nillable="true" type="tns:WMSStockTakeCountResult" />
  <xs:complexType name="WMSStockTakeListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnList" nillable="true" type="q22:ArrayOfWMSStockTake" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSStockTakeListResult" nillable="true" type="tns:WMSStockTakeListResult" />
  <xs:complexType name="WMSStockTakeCountListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnList" nillable="true" type="q23:ArrayOfWMSStockTakeCount" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSStockTakeCountListResult" nillable="true" type="tns:WMSStockTakeCountListResult" />
  <xs:complexType name="ReceiveBin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDateRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiveBin" nillable="true" type="tns:ReceiveBin" />
  <xs:complexType name="PalletCalcResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" minOccurs="0" name="ReturnItem" nillable="true" type="q24:PalletCalc" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PalletCalcResult" nillable="true" type="tns:PalletCalcResult" />
  <xs:complexType name="QtyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDecimal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QtyResult" nillable="true" type="tns:QtyResult" />
  <xs:complexType name="CheckStockCodeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="AltUOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conversion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConversionFactor" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Factor" type="xs:decimal" />
      <xs:element minOccurs="0" name="FactorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsLotsRequiredOnBarcode" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPalletLabel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Length" type="xs:decimal" />
      <xs:element minOccurs="0" name="Lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotTraceable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredBin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialOnSaleEntry" type="xs:boolean" />
      <xs:element minOccurs="0" name="SerialRequiredAtStockTake" type="xs:boolean" />
      <xs:element minOccurs="0" name="SerialTracking" type="xs:boolean" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockDisRegard" type="xs:boolean" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="UOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
      <xs:element minOccurs="0" name="WeightRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="WeightUOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:decimal" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckStockCodeResult" nillable="true" type="tns:CheckStockCodeResult" />
  <xs:complexType name="ScannerTransferItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromBin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromWarehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StkQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="ToBin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToWarehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScannerTransferItem" nillable="true" type="tns:ScannerTransferItem" />
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoggedInCorrectly" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoginType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysproGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WMSGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
  <xs:complexType name="Picking">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowNoBarcode" type="xs:boolean" />
      <xs:element minOccurs="0" name="AltQuantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="AltUom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expiry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Factor" type="xs:int" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MustScanFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoBarCode" type="xs:boolean" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockCodeBarcodeOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Uom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picking" nillable="true" type="tns:Picking" />
  <xs:complexType name="Basket_PickRequest_WithSerial_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" minOccurs="0" name="ReturnItem" nillable="true" type="q25:BasketPickingResult" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" minOccurs="0" name="ReturnOriginalItem" nillable="true" type="q26:BasketPickingResult" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Basket_PickRequest_WithSerial_Result" nillable="true" type="tns:Basket_PickRequest_WithSerial_Result" />
  <xs:complexType name="LotsAvailbleResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.Syspro" minOccurs="0" name="ReturnItems" nillable="true" type="q27:ArrayOfLotDetail" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LotsAvailbleResult" nillable="true" type="tns:LotsAvailbleResult" />
  <xs:complexType name="CyclicalCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowNoBarcode" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowShowVariance" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bins" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDateRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="ForcedBins" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Variance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CyclicalCount" nillable="true" type="tns:CyclicalCount" />
  <xs:complexType name="CheckStockBin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckStockBin" nillable="true" type="tns:CheckStockBin" />
  <xs:complexType name="ManualPrinting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManualPrinting" nillable="true" type="tns:ManualPrinting" />
  <xs:complexType name="PutOnBackOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PutOnBackOrder" nillable="true" type="tns:PutOnBackOrder" />
  <xs:complexType name="POArrival_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q28:POArrivalMaster" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POArrival_Result" nillable="true" type="tns:POArrival_Result" />
  <xs:complexType name="POArrival_Details_Result">
    <xs:sequence>
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="LstDetails" nillable="true" type="q29:ArrayOfPOArrivalDetail" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POArrival_Details_Result" nillable="true" type="tns:POArrival_Details_Result" />
  <xs:complexType name="WMSMixLabelMaster">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idx" type="xs:int" />
      <xs:element minOccurs="0" name="job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSMixLabelMaster" nillable="true" type="tns:WMSMixLabelMaster" />
  <xs:complexType name="WipJobRunExtraListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q30:ArrayOfWMSWipJobFlowExtraTypes" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WipJobRunExtraListResult" nillable="true" type="tns:WipJobRunExtraListResult" />
  <xs:complexType name="WMSWipJobFlowExtraTypesValuesListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q31:ArrayOfWMSWipJobFlowExtraTypesValues" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobFlowExtraTypesValuesListResult" nillable="true" type="tns:WMSWipJobFlowExtraTypesValuesListResult" />
  <xs:complexType name="WipJobAllocationPercResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" minOccurs="0" name="ReturnItem" nillable="true" type="q32:ArrayOfWipJobAllocationPerc" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WipJobAllocationPercResult" nillable="true" type="tns:WipJobAllocationPercResult" />
  <xs:complexType name="WipJobCalcIssuedAmountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" minOccurs="0" name="ReturnItem" nillable="true" type="q33:WipJobCalcIssuedAmount" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WipJobCalcIssuedAmountResult" nillable="true" type="tns:WipJobCalcIssuedAmountResult" />
  <xs:complexType name="BinWorkAreaResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q34:Bin_WorkArea" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BinWorkAreaResult" nillable="true" type="tns:BinWorkAreaResult" />
  <xs:complexType name="WipJobRunMasterResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q35:WMSWipJobRunMaster" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WipJobRunMasterResult" nillable="true" type="tns:WipJobRunMasterResult" />
  <xs:complexType name="WipJobRunMasterResultList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItems" nillable="true" type="q36:ArrayOfWMSWipJobRunMaster" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WipJobRunMasterResultList" nillable="true" type="tns:WipJobRunMasterResultList" />
  <xs:complexType name="BinWorkAreaListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q37:ArrayOfBin_WorkArea_Job" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BinWorkAreaListResult" nillable="true" type="tns:BinWorkAreaListResult" />
  <xs:complexType name="WMSWipJobMixLabelResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" minOccurs="0" name="ReturnItem" nillable="true" type="q38:WipJobMixLabel" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobMixLabelResult" nillable="true" type="tns:WMSWipJobMixLabelResult" />
  <xs:complexType name="WMSWipJobWorkFlowResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q39:WMSWipJobRunItem" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobWorkFlowResult" nillable="true" type="tns:WMSWipJobWorkFlowResult" />
  <xs:complexType name="WMSWipJobWorkFlowListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q40:ArrayOfWMSWipJobRunItem" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobWorkFlowListResult" nillable="true" type="tns:WMSWipJobWorkFlowListResult" />
  <xs:complexType name="WMSWipMouldInfoListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" minOccurs="0" name="ReturnItem" nillable="true" type="q41:ArrayOfWMSWipMouldMaster" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipMouldInfoListResult" nillable="true" type="tns:WMSWipMouldInfoListResult" />
  <xs:complexType name="WMSWipJobAllMetListResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDT" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.Syspro" minOccurs="0" name="ReturnItem" nillable="true" type="q42:ArrayOfWipJobAllMat" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransSuccessful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobAllMetListResults" nillable="true" type="tns:WMSWipJobAllMetListResults" />
  <xs:complexType name="ForceStockCount_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentoperator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idx" type="xs:int" />
      <xs:element minOccurs="0" name="lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priority" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForceStockCount_Result" nillable="true" type="tns:ForceStockCount_Result" />
  <xs:complexType name="ForceStockTake_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BinBarcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="bin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentoperator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idx" type="xs:int" />
      <xs:element minOccurs="0" name="lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oper" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priority" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transSuccessful" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForceStockTake_Result" nillable="true" type="tns:ForceStockTake_Result" />
  <xs:complexType name="Collection_Return_Master_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Idx" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Collection_Return_Master_Result" nillable="true" type="tns:Collection_Return_Master_Result" />
  <xs:complexType name="Collection_Return_Details_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="details" nillable="true" type="tns:ArrayOfCollection_Return_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Collection_Return_Details_Result" nillable="true" type="tns:Collection_Return_Details_Result" />
  <xs:complexType name="ArrayOfCollection_Return_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Collection_Return_Detail" nillable="true" type="tns:Collection_Return_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollection_Return_Detail" nillable="true" type="tns:ArrayOfCollection_Return_Detail" />
  <xs:complexType name="Collection_Return_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Collectio_Master_Ref" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idx" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Collection_Return_Detail" nillable="true" type="tns:Collection_Return_Detail" />
  <xs:complexType name="Invoice_Return_Master_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Idx" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalInvoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice_Return_Master_Result" nillable="true" type="tns:Invoice_Return_Master_Result" />
  <xs:complexType name="Invoice_Return_Details_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="details" nillable="true" type="tns:ArrayOfInvoice_Return_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice_Return_Details_Result" nillable="true" type="tns:Invoice_Return_Details_Result" />
  <xs:complexType name="ArrayOfInvoice_Return_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice_Return_Detail" nillable="true" type="tns:Invoice_Return_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice_Return_Detail" nillable="true" type="tns:ArrayOfInvoice_Return_Detail" />
  <xs:complexType name="Invoice_Return_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Invoice_Master_Ref" type="xs:int" />
      <xs:element minOccurs="0" name="Wh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idx" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice_Return_Detail" nillable="true" type="tns:Invoice_Return_Detail" />
  <xs:complexType name="DeliveryNote">
    <xs:sequence>
      <xs:element name="OrderSeq" type="xs:int" />
      <xs:element name="branchName" nillable="true" type="xs:string" />
      <xs:element name="customerAccountNumber" nillable="true" type="xs:string" />
      <xs:element name="customerAddress" nillable="true" type="xs:string" />
      <xs:element name="customerEmailAddress1" nillable="true" type="xs:string" />
      <xs:element name="customerEmailAddress2" nillable="true" type="xs:string" />
      <xs:element name="customerLatitude" type="xs:double" />
      <xs:element name="customerLongitude" type="xs:double" />
      <xs:element name="customerName" nillable="true" type="xs:string" />
      <xs:element name="customerShipToAddress" nillable="true" type="xs:string" />
      <xs:element name="dateLoaded" type="xs:dateTime" />
      <xs:element name="deliveryNoteDetails" nillable="true" type="tns:ArrayOfDeliveryNoteDetails" />
      <xs:element name="deliveryNr" nillable="true" type="xs:string" />
      <xs:element name="driverID" nillable="true" type="xs:string" />
      <xs:element name="eta" type="xs:dateTime" />
      <xs:element name="isReturn" type="xs:boolean" />
      <xs:element name="orderDate" type="xs:dateTime" />
      <xs:element name="plant" nillable="true" type="xs:string" />
      <xs:element name="purchaseOrderNr" nillable="true" type="xs:string" />
      <xs:element name="reasonCodeList" nillable="true" type="tns:ArrayOfReasonCode" />
      <xs:element name="salesOrder" nillable="true" type="xs:string" />
      <xs:element name="shipToContact" nillable="true" type="xs:string" />
      <xs:element name="shipToContactNr" nillable="true" type="xs:string" />
      <xs:element name="shipmentNr" nillable="true" type="xs:string" />
      <xs:element name="shippingDate" type="xs:dateTime" />
      <xs:element name="trailerReg" nillable="true" type="xs:string" />
      <xs:element name="vehicleReg" nillable="true" type="xs:string" />
      <xs:element name="wave" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNote" nillable="true" type="tns:DeliveryNote" />
  <xs:complexType name="ArrayOfDeliveryNoteDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryNoteDetails" nillable="true" type="tns:DeliveryNoteDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeliveryNoteDetails" nillable="true" type="tns:ArrayOfDeliveryNoteDetails" />
  <xs:complexType name="DeliveryNoteDetails">
    <xs:sequence>
      <xs:element name="BarcodeValue" nillable="true" type="xs:string" />
      <xs:element name="Comment" nillable="true" type="xs:string" />
      <xs:element name="CreditNoteReason" nillable="true" type="xs:string" />
      <xs:element name="DeliveryNr" nillable="true" type="xs:string" />
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="IsComment" type="xs:boolean" />
      <xs:element name="IsKitPart" type="xs:boolean" />
      <xs:element name="Item" nillable="true" type="xs:string" />
      <xs:element name="KitParrentPartLineNumber" type="xs:int" />
      <xs:element name="Qty" type="xs:decimal" />
      <xs:element name="QtyToBeCredited" type="xs:decimal" />
      <xs:element name="SalesOrder" nillable="true" type="xs:string" />
      <xs:element name="SalesOrderLineNumber" type="xs:int" />
      <xs:element name="Uom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNoteDetails" nillable="true" type="tns:DeliveryNoteDetails" />
  <xs:complexType name="ArrayOfReasonCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReasonCode" nillable="true" type="tns:ReasonCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReasonCode" nillable="true" type="tns:ArrayOfReasonCode" />
  <xs:complexType name="ReasonCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason_Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReasonCode" nillable="true" type="tns:ReasonCode" />
</xs:schema>