Example Applications/Android/PS4_Tools_Android/Web References/WMSScanner/WMSService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://3deechelon/WMS/WMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://3deechelon/WMS/WMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:complexType name="ArrayOfPOReceiptEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POReceiptEntry" nillable="true" type="tns:POReceiptEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPOReceiptEntry" nillable="true" type="tns:ArrayOfPOReceiptEntry" />
  <xs:complexType name="POReceiptEntry">
    <xs:sequence>
      <xs:element name="_barcodeQty" type="xs:decimal" />
      <xs:element name="_barcodeUsed" nillable="true" type="xs:string" />
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_dateTime" type="xs:dateTime" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_line" type="xs:decimal" />
      <xs:element name="_lot" nillable="true" type="xs:string" />
      <xs:element name="_operator" nillable="true" type="xs:string" />
      <xs:element name="_orderQty" type="xs:decimal" />
      <xs:element name="_priceOrderUom" type="xs:decimal" />
      <xs:element name="_priceStockUom" type="xs:decimal" />
      <xs:element name="_purchaseOrder" nillable="true" type="xs:string" />
      <xs:element name="_recBin" nillable="true" type="xs:string" />
      <xs:element name="_status" type="tns:EPOReceiptEntryStatus" />
      <xs:element name="_stockCode" nillable="true" type="xs:string" />
      <xs:element name="_stockingQty" type="xs:decimal" />
      <xs:element name="_warehouse" nillable="true" type="xs:string" />
      <xs:element name="_wmsWarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POReceiptEntry" nillable="true" type="tns:POReceiptEntry" />
  <xs:simpleType name="EPOReceiptEntryStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NaV" />
      <xs:enumeration value="Open" />
      <xs:enumeration value="Posted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Removed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">999</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EPOReceiptEntryStatus" nillable="true" type="tns:EPOReceiptEntryStatus" />
  <xs:complexType name="ArrayOfBoxMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BoxMaster" nillable="true" type="tns:BoxMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoxMaster" nillable="true" type="tns:ArrayOfBoxMaster" />
  <xs:complexType name="BoxMaster">
    <xs:sequence>
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_createdt" type="xs:dateTime" />
      <xs:element name="_createoper" nillable="true" type="xs:string" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_salesorder" nillable="true" type="xs:string" />
      <xs:element name="_status" type="xs:int" />
      <xs:element name="_wave" nillable="true" type="xs:string" />
      <xs:element name="_wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoxMaster" nillable="true" type="tns:BoxMaster" />
  <xs:complexType name="ArrayOfOperatorAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperatorAction" nillable="true" type="tns:OperatorAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperatorAction" nillable="true" type="tns:ArrayOfOperatorAction" />
  <xs:complexType name="OperatorAction">
    <xs:sequence>
      <xs:element name="_actionRef" nillable="true" type="xs:string" />
      <xs:element name="_currentValue" type="xs:decimal" />
      <xs:element name="_hourValue1" type="xs:decimal" />
      <xs:element name="_hourValue10" type="xs:decimal" />
      <xs:element name="_hourValue11" type="xs:decimal" />
      <xs:element name="_hourValue12" type="xs:decimal" />
      <xs:element name="_hourValue13" type="xs:decimal" />
      <xs:element name="_hourValue14" type="xs:decimal" />
      <xs:element name="_hourValue15" type="xs:decimal" />
      <xs:element name="_hourValue16" type="xs:decimal" />
      <xs:element name="_hourValue17" type="xs:decimal" />
      <xs:element name="_hourValue18" type="xs:decimal" />
      <xs:element name="_hourValue19" type="xs:decimal" />
      <xs:element name="_hourValue20" type="xs:decimal" />
      <xs:element name="_hourValue21" type="xs:decimal" />
      <xs:element name="_hourValue22" type="xs:decimal" />
      <xs:element name="_hourValue23" type="xs:decimal" />
      <xs:element name="_hourValue24" type="xs:decimal" />
      <xs:element name="_hourValue3" type="xs:decimal" />
      <xs:element name="_hourValue4" type="xs:decimal" />
      <xs:element name="_hourValue5" type="xs:decimal" />
      <xs:element name="_hourValue6" type="xs:decimal" />
      <xs:element name="_hourValue7" type="xs:decimal" />
      <xs:element name="_hourValue8" type="xs:decimal" />
      <xs:element name="_hourValue9" type="xs:decimal" />
      <xs:element name="_hourvalue2" type="xs:decimal" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_operator" nillable="true" type="xs:string" />
      <xs:element name="_overrideEnable" type="xs:boolean" />
      <xs:element name="_overrideValue" type="xs:decimal" />
      <xs:element name="_priority" type="xs:int" />
      <xs:element name="_systemValue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatorAction" nillable="true" type="tns:OperatorAction" />
  <xs:complexType name="BarcodePalletImage">
    <xs:sequence>
      <xs:element name="_barcode" nillable="true" type="xs:string" />
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_image" nillable="true" type="xs:base64Binary" />
      <xs:element name="_levelNo" type="xs:int" />
      <xs:element name="_name" nillable="true" type="xs:string" />
      <xs:element name="_palletSizeRef" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BarcodePalletImage" nillable="true" type="tns:BarcodePalletImage" />
  <xs:complexType name="ArrayOfBarcodePalletImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BarcodePalletImage" nillable="true" type="tns:BarcodePalletImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBarcodePalletImage" nillable="true" type="tns:ArrayOfBarcodePalletImage" />
  <xs:complexType name="ArrayOfTripDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TripDetail" nillable="true" type="tns:TripDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTripDetail" nillable="true" type="tns:ArrayOfTripDetail" />
  <xs:complexType name="TripDetail">
    <xs:sequence>
      <xs:element name="_comment" nillable="true" type="xs:string" />
      <xs:element name="_dispatchNote" nillable="true" type="xs:string" />
      <xs:element name="_invoice" nillable="true" type="xs:string" />
      <xs:element name="_isDispatchNote" type="xs:boolean" />
      <xs:element name="_salesorder" nillable="true" type="xs:string" />
      <xs:element name="_sequence" type="xs:int" />
      <xs:element name="_shippingRef" nillable="true" type="xs:string" />
      <xs:element name="_shippingStatus" nillable="true" type="xs:string" />
      <xs:element name="_status" nillable="true" type="xs:string" />
      <xs:element name="_tripno" nillable="true" type="xs:string" />
      <xs:element name="_type" nillable="true" type="xs:string" />
      <xs:element name="_wave" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserLastScanned_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TripDetail" nillable="true" type="tns:TripDetail" />
  <xs:complexType name="WMS_Andorid_POD">
    <xs:sequence>
      <xs:element name="_x003C_DateTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Driver_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Idx_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Invoice_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SalesOrder_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SignitureDriver_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SigniturePO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TripNo_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMS_Andorid_POD" nillable="true" type="tns:WMS_Andorid_POD" />
  <xs:complexType name="ArrayOfTripMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TripMaster" nillable="true" type="tns:TripMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTripMaster" nillable="true" type="tns:ArrayOfTripMaster" />
  <xs:complexType name="TripMaster">
    <xs:sequence>
      <xs:element name="_area" nillable="true" type="xs:string" />
      <xs:element name="_cage" nillable="true" type="xs:string" />
      <xs:element name="_codriver" nillable="true" type="xs:string" />
      <xs:element name="_comment" nillable="true" type="xs:string" />
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_costpertrip" type="xs:decimal" />
      <xs:element name="_datetimetruckleft" type="xs:dateTime" />
      <xs:element name="_delastprint" type="xs:dateTime" />
      <xs:element name="_deprintcount" type="xs:int" />
      <xs:element name="_driver" nillable="true" type="xs:string" />
      <xs:element name="_endloadtime" type="xs:dateTime" />
      <xs:element name="_handedouttime" type="xs:dateTime" />
      <xs:element name="_lastprintdate" type="xs:dateTime" />
      <xs:element name="_printcount" type="xs:int" />
      <xs:element name="_reqdate" type="xs:dateTime" />
      <xs:element name="_sequence" type="xs:int" />
      <xs:element name="_startloadtime" type="xs:dateTime" />
      <xs:element name="_state" nillable="true" type="xs:string" />
      <xs:element name="_status" nillable="true" type="xs:string" />
      <xs:element name="_supervisor" nillable="true" type="xs:string" />
      <xs:element name="_tripcompletedtime" type="xs:dateTime" />
      <xs:element name="_tripmass" type="xs:decimal" />
      <xs:element name="_tripno" nillable="true" type="xs:string" />
      <xs:element name="_tripvolume" type="xs:decimal" />
      <xs:element name="_vehicle" nillable="true" type="xs:string" />
      <xs:element name="_wmswarehouse" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TripCreateTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_TripSupervisor_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TripMaster" nillable="true" type="tns:TripMaster" />
  <xs:complexType name="WMSStockTake">
    <xs:sequence>
      <xs:element name="_activeCountCounter" type="xs:int" />
      <xs:element name="_activeCountRef" type="xs:int" />
      <xs:element name="_backOrderSysproEnd" type="xs:dateTime" />
      <xs:element name="_backOrderSysproOperator" nillable="true" type="xs:string" />
      <xs:element name="_backOrderSysproStart" type="xs:dateTime" />
      <xs:element name="_backOrderSysproStatus" type="xs:int" />
      <xs:element name="_balanceCheckEnd" type="xs:dateTime" />
      <xs:element name="_balanceCheckOperator" nillable="true" type="xs:string" />
      <xs:element name="_balanceCheckStart" type="xs:dateTime" />
      <xs:element name="_balanceCheckStatus" type="xs:int" />
      <xs:element name="_captureStockEnd" type="xs:dateTime" />
      <xs:element name="_captureStockOperator" nillable="true" type="xs:string" />
      <xs:element name="_captureStockStart" type="xs:dateTime" />
      <xs:element name="_captureStockStatus" type="xs:int" />
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_confirmEnd" type="xs:dateTime" />
      <xs:element name="_confirmOperator" nillable="true" type="xs:string" />
      <xs:element name="_confirmStart" type="xs:dateTime" />
      <xs:element name="_confirmStatus" type="xs:int" />
      <xs:element name="_createDt" type="xs:dateTime" />
      <xs:element name="_filterList" nillable="true" type="tns:ArrayOfWMSStockTakeFilter" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_modDt" type="xs:dateTime" />
      <xs:element name="_name" nillable="true" type="xs:string" />
      <xs:element name="_realocSOEnd" type="xs:dateTime" />
      <xs:element name="_realocSOOperator" nillable="true" type="xs:string" />
      <xs:element name="_realocSOStart" type="xs:dateTime" />
      <xs:element name="_realocSOStatus" type="xs:int" />
      <xs:element name="_removeWMSWavesEnd" type="xs:dateTime" />
      <xs:element name="_removeWMSWavesOperator" nillable="true" type="xs:string" />
      <xs:element name="_removeWMSWavesStart" type="xs:dateTime" />
      <xs:element name="_removeWMSWavesStatus" type="xs:int" />
      <xs:element name="_restoreShipQtyEnd" type="xs:dateTime" />
      <xs:element name="_restoreShipQtyOperator" nillable="true" type="xs:string" />
      <xs:element name="_restoreShipQtyStart" type="xs:dateTime" />
      <xs:element name="_restoreShipQtyStatus" type="xs:int" />
      <xs:element name="_status" type="xs:int" />
      <xs:element name="_sysproBackEnd" type="xs:dateTime" />
      <xs:element name="_sysproBackOperator" nillable="true" type="xs:string" />
      <xs:element name="_sysproBackStart" type="xs:dateTime" />
      <xs:element name="_sysproBackStatus" type="xs:int" />
      <xs:element name="_sysproCancelBackEnd" type="xs:dateTime" />
      <xs:element name="_sysproCancelBackOperator" nillable="true" type="xs:string" />
      <xs:element name="_sysproCancelBackStart" type="xs:dateTime" />
      <xs:element name="_sysproCancelBackStatus" type="xs:int" />
      <xs:element name="_warehouse" nillable="true" type="xs:string" />
      <xs:element name="_wmsWarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSStockTake" nillable="true" type="tns:WMSStockTake" />
  <xs:complexType name="ArrayOfWMSStockTakeFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSStockTakeFilter" nillable="true" type="tns:WMSStockTakeFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSStockTakeFilter" nillable="true" type="tns:ArrayOfWMSStockTakeFilter" />
  <xs:complexType name="WMSStockTakeFilter">
    <xs:sequence>
      <xs:element name="_column" nillable="true" type="xs:string" />
      <xs:element name="_createDt" type="xs:dateTime" />
      <xs:element name="_databaseType" type="tns:EDatabaseType" />
      <xs:element name="_filterList" nillable="true" type="tns:ArrayOfWMSStockTakeFilter" />
      <xs:element name="_filterType" type="tns:EWMSStockTakeFilterType" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_modDt" type="xs:dateTime" />
      <xs:element name="_name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" name="_sqlDataType" type="q1:SqlDbType" />
      <xs:element name="_sqlScale" type="xs:int" />
      <xs:element name="_sqlSize" type="xs:int" />
      <xs:element name="_status" type="xs:int" />
      <xs:element name="_table" nillable="true" type="xs:string" />
      <xs:element name="_valueFloat" type="xs:double" />
      <xs:element name="_valueInt" type="xs:int" />
      <xs:element name="_valueText" nillable="true" type="xs:string" />
      <xs:element name="_wmsParentRef" type="xs:int" />
      <xs:element name="_wmsStockTakeRef" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSStockTakeFilter" nillable="true" type="tns:WMSStockTakeFilter" />
  <xs:simpleType name="EDatabaseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CompanyDB">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InventoryDB">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LedgerDB">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EDatabaseType" nillable="true" type="tns:EDatabaseType" />
  <xs:simpleType name="EWMSStockTakeFilterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Group_And">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Group_Or">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expression_Equels">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1001</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expression_Larger">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1002</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expression_EquelLarger">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1003</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expression_Smaller">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1004</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expression_EquelSmaller">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1005</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expression_Like">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1006</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NaV">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">999999</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EWMSStockTakeFilterType" nillable="true" type="tns:EWMSStockTakeFilterType" />
  <xs:complexType name="WMSStockTakeCount">
    <xs:sequence>
      <xs:element name="_counter" type="xs:int" />
      <xs:element name="_createDt" type="xs:dateTime" />
      <xs:element name="_endDt" type="xs:dateTime" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_modDt" type="xs:dateTime" />
      <xs:element name="_startDt" type="xs:dateTime" />
      <xs:element name="_status" type="xs:int" />
      <xs:element name="_wMSStockTakeRef" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSStockTakeCount" nillable="true" type="tns:WMSStockTakeCount" />
  <xs:complexType name="ArrayOfWMSStockTake">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSStockTake" nillable="true" type="tns:WMSStockTake" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSStockTake" nillable="true" type="tns:ArrayOfWMSStockTake" />
  <xs:complexType name="ArrayOfWMSStockTakeCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSStockTakeCount" nillable="true" type="tns:WMSStockTakeCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSStockTakeCount" nillable="true" type="tns:ArrayOfWMSStockTakeCount" />
  <xs:complexType name="POArrivalMaster">
    <xs:sequence>
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_datesigned" type="xs:dateTime" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_operator" nillable="true" type="xs:string" />
      <xs:element name="_purchaseorder" nillable="true" type="xs:string" />
      <xs:element name="_vectorforsignature" nillable="true" type="xs:string" />
      <xs:element name="_wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POArrivalMaster" nillable="true" type="tns:POArrivalMaster" />
  <xs:complexType name="ArrayOfPOArrivalDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POArrivalDetail" nillable="true" type="tns:POArrivalDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPOArrivalDetail" nillable="true" type="tns:ArrayOfPOArrivalDetail" />
  <xs:complexType name="POArrivalDetail">
    <xs:sequence>
      <xs:element name="_datesigned" type="xs:dateTime" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_masterref" type="xs:int" />
      <xs:element name="_operator" nillable="true" type="xs:string" />
      <xs:element name="_qty" type="xs:decimal" />
      <xs:element name="_reference1" nillable="true" type="xs:string" />
      <xs:element name="_reference2" nillable="true" type="xs:string" />
      <xs:element name="_vectorforsignature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POArrivalDetail" nillable="true" type="tns:POArrivalDetail" />
  <xs:complexType name="WMSWipJobRunItem">
    <xs:sequence>
      <xs:element name="_Company" nillable="true" type="xs:string" />
      <xs:element name="_Scanner_Description" nillable="true" type="xs:string" />
      <xs:element name="_Scanner_MustScan" type="xs:boolean" />
      <xs:element name="_Scanner_StockIsBArcode" type="xs:boolean" />
      <xs:element name="_Scanner_hasNormalBarcode" type="xs:boolean" />
      <xs:element name="_Tot_Qty_For_Job" type="xs:decimal" />
      <xs:element name="_WMSWarehouse" nillable="true" type="xs:string" />
      <xs:element name="_bin" nillable="true" type="xs:string" />
      <xs:element name="_currentoperator" nillable="true" type="xs:string" />
      <xs:element name="_description" nillable="true" type="xs:string" />
      <xs:element name="_finalbin" nillable="true" type="xs:string" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_isreadyfornextflow" type="xs:boolean" />
      <xs:element name="_itemModifiedInSyspro" type="xs:boolean" />
      <xs:element name="_itemModifiedInWMS" type="xs:boolean" />
      <xs:element name="_job" nillable="true" type="xs:string" />
      <xs:element name="_line" nillable="true" type="xs:string" />
      <xs:element name="_multistageprocess" type="xs:int" />
      <xs:element name="_nextStage" type="xs:int" />
      <xs:element name="_nextlocation" nillable="true" type="xs:string" />
      <xs:element name="_originalBin" nillable="true" type="xs:string" />
      <xs:element name="_originalWarehouse" nillable="true" type="xs:string" />
      <xs:element name="_pickrun" type="xs:int" />
      <xs:element name="_qty_required_for_run" type="xs:decimal" />
      <xs:element name="_stage" type="xs:int" />
      <xs:element name="_status" nillable="true" type="xs:string" />
      <xs:element name="_stockcode" nillable="true" type="xs:string" />
      <xs:element name="_toWarehouse" nillable="true" type="xs:string" />
      <xs:element name="_totalPercentage" type="xs:decimal" />
      <xs:element name="_wMS_Scanner_QtyToTransfer" type="xs:decimal" />
      <xs:element name="_warehouse" nillable="true" type="xs:string" />
      <xs:element name="_wms_wipjobrunmaster" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobRunItem" nillable="true" type="tns:WMSWipJobRunItem" />
  <xs:complexType name="WMSWipJobRunItemOverWriteStatus">
    <xs:sequence>
      <xs:element name="_bin" nillable="true" type="xs:string" />
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_currentoperator" nillable="true" type="xs:string" />
      <xs:element name="_description" nillable="true" type="xs:string" />
      <xs:element name="_finalbin" nillable="true" type="xs:string" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_isreadyfornextflow" type="xs:boolean" />
      <xs:element name="_itemmodifiedinsyspro" type="xs:boolean" />
      <xs:element name="_itemmodifiedinwms" type="xs:boolean" />
      <xs:element name="_job" nillable="true" type="xs:string" />
      <xs:element name="_line" nillable="true" type="xs:string" />
      <xs:element name="_multistageprocess" type="xs:int" />
      <xs:element name="_nextlocation" nillable="true" type="xs:string" />
      <xs:element name="_originalbin" nillable="true" type="xs:string" />
      <xs:element name="_originalwarehouse" nillable="true" type="xs:string" />
      <xs:element name="_overwritestatus" nillable="true" type="xs:string" />
      <xs:element name="_pickrun" type="xs:int" />
      <xs:element name="_qty_required_for_run" type="xs:decimal" />
      <xs:element name="_stage" type="xs:int" />
      <xs:element name="_status" nillable="true" type="xs:string" />
      <xs:element name="_stockcode" nillable="true" type="xs:string" />
      <xs:element name="_tot_qty_for_job" type="xs:decimal" />
      <xs:element name="_totalpercentage" type="xs:decimal" />
      <xs:element name="_towarehouse" nillable="true" type="xs:string" />
      <xs:element name="_warehouse" nillable="true" type="xs:string" />
      <xs:element name="_wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobRunItemOverWriteStatus" nillable="true" type="tns:WMSWipJobRunItemOverWriteStatus" />
  <xs:complexType name="ArrayOfWMSWipJobRunItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSWipJobRunItem" nillable="true" type="tns:WMSWipJobRunItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSWipJobRunItem" nillable="true" type="tns:ArrayOfWMSWipJobRunItem" />
  <xs:complexType name="ArrayOfWMSWipJobFlowExtraTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSWipJobFlowExtraTypes" nillable="true" type="tns:WMSWipJobFlowExtraTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSWipJobFlowExtraTypes" nillable="true" type="tns:ArrayOfWMSWipJobFlowExtraTypes" />
  <xs:complexType name="WMSWipJobFlowExtraTypes">
    <xs:sequence>
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_typename" nillable="true" type="xs:string" />
      <xs:element name="_wmswarehouse" nillable="true" type="xs:string" />
      <xs:element name="_workflowtype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobFlowExtraTypes" nillable="true" type="tns:WMSWipJobFlowExtraTypes" />
  <xs:complexType name="ArrayOfWMSWipJobFlowExtraTypesValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSWipJobFlowExtraTypesValues" nillable="true" type="tns:WMSWipJobFlowExtraTypesValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSWipJobFlowExtraTypesValues" nillable="true" type="tns:ArrayOfWMSWipJobFlowExtraTypesValues" />
  <xs:complexType name="WMSWipJobFlowExtraTypesValues">
    <xs:sequence>
      <xs:element name="_fieldType" nillable="true" type="xs:string" />
      <xs:element name="_fieldname" nillable="true" type="xs:string" />
      <xs:element name="_fieldref" type="xs:int" />
      <xs:element name="_job" nillable="true" type="xs:string" />
      <xs:element name="_jobmatstockcode" nillable="true" type="xs:string" />
      <xs:element name="_pickrun" type="xs:int" />
      <xs:element name="_value" nillable="true" type="xs:string" />
      <xs:element name="_wmsjobmasterref" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobFlowExtraTypesValues" nillable="true" type="tns:WMSWipJobFlowExtraTypesValues" />
  <xs:complexType name="Bin_WorkArea">
    <xs:sequence>
      <xs:element name="_barcode" nillable="true" type="xs:string" />
      <xs:element name="_bin" nillable="true" type="xs:string" />
      <xs:element name="_binType" nillable="true" type="xs:string" />
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_frozenBin" type="xs:boolean" />
      <xs:element name="_nextQueueRunReady" type="xs:boolean" />
      <xs:element name="_warehouse" nillable="true" type="xs:string" />
      <xs:element name="_wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bin_WorkArea" nillable="true" type="tns:Bin_WorkArea" />
  <xs:complexType name="WMSWipJobRunMaster">
    <xs:sequence>
      <xs:element name="_amountOfRuns" type="xs:int" />
      <xs:element name="_comapany" nillable="true" type="xs:string" />
      <xs:element name="_currentrun" type="xs:int" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_isreadyfornextflow" type="xs:boolean" />
      <xs:element name="_job" nillable="true" type="xs:string" />
      <xs:element name="_jobDescription" nillable="true" type="xs:string" />
      <xs:element name="_jobWarehouse" nillable="true" type="xs:string" />
      <xs:element name="_operatoradded" nillable="true" type="xs:string" />
      <xs:element name="_overWritePickRun" type="xs:int" />
      <xs:element name="_priority" type="xs:int" />
      <xs:element name="_queueMarkReady" type="xs:boolean" />
      <xs:element name="_status" nillable="true" type="xs:string" />
      <xs:element name="_supplyInterval" type="xs:int" />
      <xs:element name="_timeadded" type="xs:dateTime" />
      <xs:element name="_wmswarehouse" nillable="true" type="xs:string" />
      <xs:element name="_workcenter" nillable="true" type="xs:string" />
      <xs:element name="jobStartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobRunMaster" nillable="true" type="tns:WMSWipJobRunMaster" />
  <xs:complexType name="ArrayOfWMSWipJobRunMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSWipJobRunMaster" nillable="true" type="tns:WMSWipJobRunMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSWipJobRunMaster" nillable="true" type="tns:ArrayOfWMSWipJobRunMaster" />
  <xs:complexType name="ArrayOfBin_WorkArea_Job">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bin_WorkArea_Job" nillable="true" type="tns:Bin_WorkArea_Job" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBin_WorkArea_Job" nillable="true" type="tns:ArrayOfBin_WorkArea_Job" />
  <xs:complexType name="Bin_WorkArea_Job">
    <xs:sequence>
      <xs:element name="_bin" nillable="true" type="xs:string" />
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_finalLocation" type="xs:boolean" />
      <xs:element name="_job" nillable="true" type="xs:string" />
      <xs:element name="_jobDescriotn" nillable="true" type="xs:string" />
      <xs:element name="_jobwmsref" type="xs:int" />
      <xs:element name="_wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bin_WorkArea_Job" nillable="true" type="tns:Bin_WorkArea_Job" />
  <xs:complexType name="ArrayOfWMSWipJobMixLabelDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSWipJobMixLabelDetail" nillable="true" type="tns:WMSWipJobMixLabelDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSWipJobMixLabelDetail" nillable="true" type="tns:ArrayOfWMSWipJobMixLabelDetail" />
  <xs:complexType name="WMSWipJobMixLabelDetail">
    <xs:sequence>
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_masterref" type="xs:int" />
      <xs:element name="_percentage_allocations" type="xs:decimal" />
      <xs:element name="_qty" type="xs:decimal" />
      <xs:element name="_stockcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobMixLabelDetail" nillable="true" type="tns:WMSWipJobMixLabelDetail" />
  <xs:complexType name="WMSWipJobMixLabelMaster">
    <xs:sequence>
      <xs:element name="_barcode" nillable="true" type="xs:string" />
      <xs:element name="_datetime" type="xs:dateTime" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_job" nillable="true" type="xs:string" />
      <xs:element name="_job_qty_to_make" type="xs:decimal" />
      <xs:element name="_stockcode_to_make" nillable="true" type="xs:string" />
      <xs:element name="_targetbin" nillable="true" type="xs:string" />
      <xs:element name="_total_qty" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipJobMixLabelMaster" nillable="true" type="tns:WMSWipJobMixLabelMaster" />
  <xs:complexType name="ArrayOfWMSWipMouldMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSWipMouldMaster" nillable="true" type="tns:WMSWipMouldMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSWipMouldMaster" nillable="true" type="tns:ArrayOfWMSWipMouldMaster" />
  <xs:complexType name="WMSWipMouldMaster">
    <xs:sequence>
      <xs:element name="_associatedstockcode" nillable="true" type="xs:string" />
      <xs:element name="_associatedstockcodeDescription" nillable="true" type="xs:string" />
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_idx" type="xs:int" />
      <xs:element name="_mouldstockcode" nillable="true" type="xs:string" />
      <xs:element name="_mouldstockcodeDescription" nillable="true" type="xs:string" />
      <xs:element name="_wmswarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSWipMouldMaster" nillable="true" type="tns:WMSWipMouldMaster" />
</xs:schema>