Example Applications/Android/PS4_Tools_Android/Web References/WMSScanner/WMSService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.OpResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://3deechelon/WMS/WMSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://3deechelon/WMS/WMSService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" />
  <xs:complexType name="BasketBasketFinePickResult">
    <xs:sequence>
      <xs:element name="_BasketBarcode" nillable="true" type="xs:string" />
      <xs:element name="_BasketBin" nillable="true" type="xs:string" />
      <xs:element name="_Operator" nillable="true" type="xs:string" />
      <xs:element name="_isOnBasket" type="xs:boolean" />
      <xs:element name="_multpalStageAreas" type="xs:boolean" />
      <xs:element name="_salesOrder" nillable="true" type="xs:string" />
      <xs:element name="_wave" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="lstStageAreaBin" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasketBasketFinePickResult" nillable="true" type="tns:BasketBasketFinePickResult" />
  <xs:complexType name="PalletCalc">
    <xs:sequence>
      <xs:element name="_grossWeight" type="xs:decimal" />
      <xs:element name="_vol" type="xs:decimal" />
      <xs:element name="_weight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PalletCalc" nillable="true" type="tns:PalletCalc" />
  <xs:complexType name="BasketPickingResult">
    <xs:sequence>
      <xs:element name="_NothingToPick" type="xs:boolean" />
      <xs:element name="_OperatorBasket" nillable="true" type="xs:string" />
      <xs:element name="_OperatorBasketBarcode" nillable="true" type="xs:string" />
      <xs:element name="_altQuantity" nillable="true" type="xs:string" />
      <xs:element name="_altUom" nillable="true" type="xs:string" />
      <xs:element name="_bin" nillable="true" type="xs:string" />
      <xs:element name="_company" nillable="true" type="xs:string" />
      <xs:element name="_description" nillable="true" type="xs:string" />
      <xs:element name="_jobTime" type="xs:dateTime" />
      <xs:element name="_lockTime" type="xs:dateTime" />
      <xs:element name="_lot" nillable="true" type="xs:string" />
      <xs:element name="_lotTraceable" type="xs:boolean" />
      <xs:element name="_mustFinePick" type="xs:boolean" />
      <xs:element name="_mustScanFlag" type="xs:boolean" />
      <xs:element name="_noBarCode" type="xs:boolean" />
      <xs:element name="_onScanner" type="xs:boolean" />
      <xs:element name="_operator" nillable="true" type="xs:string" />
      <xs:element name="_quantity" type="xs:decimal" />
      <xs:element name="_salesOrder" nillable="true" type="xs:string" />
      <xs:element name="_salesOrderLine" type="xs:int" />
      <xs:element name="_stageArea" nillable="true" type="xs:string" />
      <xs:element name="_status" nillable="true" type="xs:string" />
      <xs:element name="_stockCode" nillable="true" type="xs:string" />
      <xs:element name="_stockCodeBarcodeOnly" type="xs:boolean" />
      <xs:element name="_uom" nillable="true" type="xs:string" />
      <xs:element name="_wField1" nillable="true" type="xs:string" />
      <xs:element name="_wField2" nillable="true" type="xs:string" />
      <xs:element name="_warehouse" nillable="true" type="xs:string" />
      <xs:element name="_wave" nillable="true" type="xs:string" />
      <xs:element name="_wmsWarehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasketPickingResult" nillable="true" type="tns:BasketPickingResult" />
  <xs:complexType name="ArrayOfWipJobAllocationPerc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WipJobAllocationPerc" nillable="true" type="tns:WipJobAllocationPerc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWipJobAllocationPerc" nillable="true" type="tns:ArrayOfWipJobAllocationPerc" />
  <xs:complexType name="WipJobAllocationPerc">
    <xs:sequence>
      <xs:element name="_QtyNeeded" type="xs:decimal" />
      <xs:element name="_percAllocation" type="xs:decimal" />
      <xs:element name="_stockCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WipJobAllocationPerc" nillable="true" type="tns:WipJobAllocationPerc" />
  <xs:complexType name="WipJobCalcIssuedAmount">
    <xs:sequence>
      <xs:element name="qtyIssuedDurringoperaion" type="xs:decimal" />
      <xs:element name="qtyOnhand" type="xs:decimal" />
      <xs:element name="qtyToMove" type="xs:decimal" />
      <xs:element name="totAmountIssuedBefore" type="xs:decimal" />
      <xs:element name="totAmountIssuedCurrent" type="xs:decimal" />
      <xs:element name="totAmountIssuedCurrentFromdifferentBin" type="xs:decimal" />
      <xs:element name="totAmountPicked" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WipJobCalcIssuedAmount" nillable="true" type="tns:WipJobCalcIssuedAmount" />
  <xs:complexType name="WipJobMixLabel">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" name="labelDetails" nillable="true" type="q2:ArrayOfWMSWipJobMixLabelDetail" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.CCWMS" name="masterMix" nillable="true" type="q3:WMSWipJobMixLabelMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WipJobMixLabel" nillable="true" type="tns:WipJobMixLabel" />
</xs:schema>