Example Applications/Android/PS4_Tools_Android/Web References/WMSScanner/WMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.Backend" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.CommonObjects.Backend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSystemWide_Serials">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemWide_Serials" nillable="true" type="tns:SystemWide_Serials" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemWide_Serials" nillable="true" type="tns:ArrayOfSystemWide_Serials" />
  <xs:complexType name="SystemWide_Serials">
    <xs:sequence>
      <xs:element name="_x003C_SerialNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SerialPieces_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SerialQuantity_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_SerialUnits_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemWide_Serials" nillable="true" type="tns:SystemWide_Serials" />
</xs:schema>